  /* Estilo padrão do link */
  .navbar {
    background-color: #77a0d8;
    position: relative;
    transition: top 0.3s;
    font-size: 1.2em !important;
    white-space: nowrap;
  }
  
  .nav-link {
    color: white !important;
    font-weight: 500;
    font-size: 1.2em !important;
    white-space: nowrap;
  }
  
  .nav-link:hover {
    color: #a0c4e1 !important;
    font-size: 1.2em !important;
  }
  
  .navbar-toggler-icon {
    color: white;
    border: 1px solid white;
  }
  
  .btn {
    background-color: #77a0d8;
    color: white;
    border: 2px solid white;
  }
  
  .btn:hover {
    background-color: #a0c4e1;
  }
  

  .nav-link-hover {
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }

  /* Animação ao passar o mouse */
  .nav-link-hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
  }

  .nav-link-hover:hover::after {
    width: 100%;
  }

/* Estilo para o logo da navbar */
.navbar-brand img {
  width: auto;  /* Ajuste automático de largura */
  max-width: 200px;  /* Tamanho máximo do logo */
  height: auto;  /* Manter a proporção */
}
